body {
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hideme {
  display: none;
}

.line-button,
.line-input {
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    margin: 8px 0;
    padding: 8px;
    /* width: 100%; */
}

.tableBlock {
  background-color: #ffffff;
}

.icon-box-image {
  width: 210px;
  height: 310px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  background-color: whitesmoke;
}

.icon-box-image:hover {
  background-color: gold;
}

.icon-image {
  max-width: 200px;
  max-height: 300px;
  height: auto
}

/* Modal Wondow styles */
.modal-main {
  position: fixed;
  background: gainsboro;
  width: 60%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid goldenrod;
  border-radius: 15px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

/* The Modal Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/*By Mary*/

.wrapper {
  display: flex;
}

.side-menu,
.banners {
  width: 15%;
}

.root {
  width: 70%;
}

.icon-image {
  padding-top: 5px;
}